body {
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.custom-navbar {
    background-color: #003366;
}

.navbar-brand,
.nav-link {
    // color: white;
    transition: color 0.3s, background-color 0.3s;
}

.navbar-toggler {
    border: none;
}

.navbar-nav .nav-link:hover {
    color: rgb(121, 177, 236);
}

.nav-item .active {
    background-color: #0056b3;
}

.custom-sidebar {
    background-color: #003366;
    height: 100%;
    min-height: 100vh;
}

.custom-sidebar .nav-link {
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.custom-sidebar .nav-link.active,
.custom-sidebar .nav-link:hover {
    background-color: #0056b3;
    color: #ffcc00;
}

.header,
.footer {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}

.container-fluid {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
}

.content {
    flex: 1;
    padding: 20px 0px 60px 0px;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
}

.services,
.team,
.about,
.contact {
    padding: 50px 0;
}

.services .icon,
.team .icon,
.about .icon,
.contact .icon {
    font-size: 3em;
    margin-bottom: 10px;
    color: #0056b3;
}

.btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #004494;
    border-color: #004494;
}

/* Animazione per il pulsante di logout */
.animate-logout {
    transition: transform 0.3s, color 0.3s;
}

.animate-logout:hover {
    transform: scale(1.1);
    color: #ffcc00;
}

/* Classi per il ridimensionamento delle foto del CV e della foto profilo */
.doctor-photo {
    width: 250px;
    height: 300px;
}

.doctor-cv {
    width: 217px;
    height: 200px;
}

.footer {
    flex-shrink: 0;
}

//classe custom per il model
.ms-modal {
    border-radius: 16px;
    color: white;
    background-color: #003366;
    top: 15%;
    animation: x-motion 0.5s ease-in;
}

@keyframes x-motion {
    0% {
        top: 0;
    }

    100% {
        top: 15%;
    }
}


//classe custom per il model
.ms-modal{
    border-radius: 16px;
    color: white;
    background-color: #003366;
    top: 15%;
    animation: x-motion 0.5s ease-in;
}

@keyframes x-motion {
    0% {
      top: 0;
    }
    
    100% {
      top: 15%;
    }
  }